script
<div id="hero">
  <p id="herotext">DREAMING IN CODE</p>
   <ul>
    <a href="/#hero"><li></li></a>
    <a href="/#secondhero"><li></li></a></li>
    <a href="/#thirdhero"><li></li></a>
   </ul>
</div>
<div id="herohalf"></div>

<div id="secondhero">
  <p id="secondherotext">Programming Cycling</p>
</div>
<div id="secondherohalf"></div>

<div id="thirdhero">
  <p id="thirdherotext">Being a boss</p>
</div>
<div id="thirdherohalf"></div>
