<div id="pagepiling">
  <div class="section" id="section1">
    <div class="intro">
      <h1>All business.</h1>
      <p>A new home for the word's most influencial management magazine.</p>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>Nike Making.</h1> 
      <p>Inspiring the creative community to make sustainable design choices.</p>
    </div>
  </div>
  <div class="section" id="section3">
     <div class="intro">
      <h1>Floored.</h1>
      <p>Clean, modern, and fast. Introducing the new Lexus.com.</p>
     </div>
  </div>
  <div class="section" id="section4">
    <div class="content">
      <h1>bagaloo</h1>
      <p>My normal website</p>
    </div>
  </div>
</div>
