@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  position: fixed;
  margin-left: 90%;
  // color: white;
}

#hero, #secondhero, #thirdhero {
  height: 800px;
  background-color: black;
}

#herohalf, #secondherohalf, #thirdherohalf {
  height: 800px;
  width: 50%;
  opacity: 0.3;
  margin-top: -800px;
  background-color: red;
}

#secondherohalf {
  margin-left: 50%;
  background-color: blue;
}

#thirdherohalf {
  background-color: green;
}
 
#herotext, #secondherotext, #thirdherotext {
  font-size: 100px;
  padding-top: 300px;
  margin-left: 10%;
  margin-right: -10%;
  width: 80%;
  color: white;
}