.section {
  /* the important one */
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}

.main-alert {
  width: 100%;
  z-index: 100;
  position: absolute;
  text-align: center;
}

// Navigation customization alignment

#pp-nav.right {
  right: 17px;
}

// fixed background images

#section1 {
  background-image: image-url('photo-1452573992436-6d508f200b30.jpg');
  @media screen and (max-width: 1000px){
    background-size: 2200px;
  } 
}

.custom4 {
  background-image: image-url('header.png');
  background-size: 2000px;
  height: 310px;
  @media screen and  (min-width: 1900px) {
    background-size: 3000px;
  }
}

#section4 .content {
  top: 100%;
  position: absolute;
  left: 0;
}

// Section 1 content

#dreaming {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  min-width: 20%;
  max-width: 90%;
  @media screen and (max-width: 700px){
    margin-top: 100px;
  } 
}

.logohero, #logoherostatic {
  margin-left: 30px;
  margin-top: 30px;
  position: fixed;
}

#logoherostatic {
  position: fixed;
  z-index: 99;
}
#sign-out-div {
  float: right;
  margin: 25px 30px;
}

#sign-out {
  padding: 10px 20px;
  color: lightgrey;
  font-size: 2em;
  .sign-out:hover {
    color: yellow;
  } &:visited {
    color: lightgrey;
  }
}

#tutorial-dropdown-div {
  float: right;
  margin: 25px 30px;
}

.btn-tutorial {
  background-color: #000;
  color: #fff;
  &:hover {
    color: yellow;
  } &:visited {
    color: #fff;
  } &:focus {
    color: yellow;
  }
}

.dropdown-menu {
  background-color: #000;
  left: -72px;
}

#vim-link-home {
  color: lightgrey;
  background-color: black;
  &:hover {
    color: yellow !important;
  } &:visited {
    color: lightgrey;
  }
}

#herotextborder {
  height: 50px;
  margin-left: 50%;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-color: yellow;
  @media screen and (max-width: 500px){
    border: none;
  } 
}

.herotextfull, .herotextstack, .herotextruby, .herotextdev , .herotextcycle, .herotextenth {
  color: white;
  font-size: 18px;
  display: inline-block;
  position: absolute;
}

.herotextfull {
  margin: 0 0 0 -100%;  
  transition: margin 4s;
}

.herotextfullmv {
  margin: 0 0 0 20px;
}

.herotextstack {
  margin: -100% 0 0 68px;
  transition: margin 4s;
}

.herotextstackmv {
  margin: 0 0 0 68px;
}

.herotextruby {
  margin: 0 0 0 100%;
  transition: margin 4s;
}

.herotextrubymv {
  margin: 0 0 0 130px;
}

.herotextdev {
  margin: 100% 0 0 185px;
  transition: margin 4s;
}

.herotextdevmv {
  margin: 0 0 0 185px;
}

.herotextcycle {
  margin: 50% 0 0 -100% ;
  transition: margin 4s;
}

.herotextcyclemv {
  margin: 28px 0 0 20px;
}

.herotextenth {
  margin: 50% 0 0 100%;
  transition: margin 2s;
  transform: rotate(30deg);
}

.herotextenthmv {
  margin: 28px 0 0 105px;
}

.herotextenthmv-delay {
  transition: 1s;
  transform: rotate(-10deg);
}

.herotextenthmv-delay2 {
  transition: 1s;
  transform: rotate(0deg);
}

#herotext {
  color: white;
  margin-left: 50%;
  padding-left: 20px;
  font-family: 'ProximaNova';
  font-size: 18px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-color: yellow;
  @media screen and (max-width: 500px){
    border: none;
  } 
}

// Section 2 content

#section2-content {
  margin-top: 80px;
  h3 {
    color: black;
    font-size: 30px;
    font-family: 'QuadonMedium';
  } p {
    width: 700px; 
    color: grey;
    font-size: 20px;
    font-family: 'Quadon';
    letter-spacing: 1px;
  } button {
    color: grey;
    font-size: 16px;
    border: none;
    padding: 10px 45px;
    margin: 50px 0px;
    background-color: #333333;
    font-family: 'ProximaNova';
    font-weight: 2;
    letter-spacing: 1px;
  } button:hover {
    color: yellow;
    background-color: black; 
  } @media screen and (max-width: 700px){
    margin-top: 100px;
  } #downloadicon {
    margin-top: -4px;
    margin-left: 5px;
  }
}

.experience {
  width: 700px;
  height: 700px;
  padding-top: 30px;
  margin-top: 30px;
  border: solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-color: gray;
  border-width: thin;
}

#nikola-motor {
  color: #4d4d4d;
}

// Section 3 content

#section3-content {
  margin-top: 80px;
  height: 600px;
  width: 700px;
  color: white;
  #agogelogo, #med-forums-logo, #r7_logo, #apex-logo, #cappahealth, #village-logo {
    padding: 10px 20px;
  } #r7_logo {
  } #med-forums-logo, #cappahealth {
    width: 312px;
  } #nikola_motor_logo {
    padding: 0;
    width: 380px;
  } #cappahealth, #apex-logo {
    margin-top: 20px;
  } #linxware {
    padding: 0 23px;
  }
}

// Section 4 content

#section4-header-content {
  width: 100%;
  height: 35%;
}

@media (max-width: 1199px) {
  .hide-sc4 {
    display: none;
  }
}

#section4-p {
  width: 500px;
  color: white;
  font-size: 45px;
  padding: 80px 0;
  margin: 0 0 0 200px;
  font-family: 'Quadon';
}

.contact_links {
  background-color: #272727; 
  width: 100%;
  min-width: 520px;
  height: 85px;
  img {
    padding: 0 10px;
  }
}

.contactxt {
  color: gray;
  text-decoration: none;
  display: inline-block;
  line-height: 85px;
}

.contactxt:hover {
  color: yellow;
}

.name {
  width: 323px;
  display: inline-block;
  @media screen and (max-width: 685px){
    width: 100%;
    margin-top: 20px;
  }
}

.email {
  display: inline-block;
  @media screen and (max-width: 685px){
    width: 100%;
  }
}

// text field sizing
.form_area {
  width: 300px;
  height: 50px;
  margin: 25px 0;
  padding: 0 0 0 12px;
  font-family: 'Quadon';
  font-size: 16px;
  @media screen and (max-width: 685px){
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.message {
  margin-bottom: 20px;
}

.form_message_area {
  width: 100%;
  min-width: 300px;
  max-width: 623px;
  height: 100px;
  padding: 12px;
  font-family: 'Quadon';
  font-size: 16px;
}

.form_submit {
  color: grey;
  background-color: #333;
  font-size: 20px;
  font-family: 'ProximaNova';
  height: 50px;
  width: 200px;
  .form_submit:hover {
    color: yellow;
    background-color: black;
  }
}


// ABOUT PAGE

.resume {
  background-image: image-url('resume.pdf');
}

// SIGN UP

.sign-up-logo-div {
  margin-top: 35%;
  .sign-up-logo {
    display: block;
    margin: 0 auto;
  }
}

.sign-in-font{
  font-family: 'ProximaNova'
}

.sign-up-password {
  margin: 10px 0;
  width: 100%;
}

.sign-up-btn {
  width: 100%;
  color: yellow;
  background-color: #000;
  &:hover {
    color: #000;
    background-color: yellow;
  }
}
