h1 {
  font-family: 'ProximaNova';
  display: inline-block;
}

.vim-home {
  float: right;
  margin: 26px 0 0 0;
  display: inline-block;
}

.vim-home-link {
  color: white;
  padding: 10px 20px;
  background-color: black;
  &:hover {
   color: white;
  } &:visited {
    color: white;
  }
}

.new-form {
  background-color: lightgrey; 
  border-radius: 6px;
  padding: 20px;
}

.vim-submit {
  margin-top: 10px;
  font-family: 'ProximaNova';
}

.vim-title {
  font-family: 'ProximaNova'
}

.vim-desc {
  font-family: 'ProximaNova';
  font-size: 15px;
}

.vim-code {
  margin: 10px 0;
  padding: 2px 10px;
  font-size: 1.8em;
  background-color: #e8d8c3;
}

.vim-text-field {
  width: 100%;
  font-family: 'ProximaNova';
}
